/*Color Palette*/

$lightRed: hsl(0, 100%, 67%);
$orangeyYellow:hsl(39, 100%, 56%);
$greenTeal: hsl(166, 100%, 37%);
$colbatBlue:hsl(234, 85%, 45%);
$white:hsl(0, 0%, 100%);
$paleBlue:hsl(221, 100%, 96%);
$lightLavender:hsl(241, 100%, 89%);
$darkGrayBlue:hsl(224, 30%, 27%);

/*Gradient Colors*/
$backgroundGradient1:hsl(252, 100%, 67%);
$backgroundGradient2: hsla(241, 81%, 54%);
$circleGradient1:hsla(256, 72%, 46%, 1);
$circleGradient2: hsla(241, 72%, 46%, 0);


/*Neutral Colors*/

$white: hsl(0, 0%, 100%);
$paleBlue: hsl(221, 100%, 96%);
$lightLavender: hsl(241, 100%, 89%);
$darkGrayBlue:hsl(224, 30%, 27%);













.attribution { 
    
    font-size: 11px; text-align: center; 
    
    
}


